---
const defaultImage = "/blog-card.png"

const {
  title = "Ibrahim Cesar, Solutions Architect",
  description = "@ibrahimcesar — Builder, eventually consistent. Personal blog with posts The Cloud, Code and Everything Else! ",
  image = new URL(defaultImage, Astro.site),
  featureImage,
  canonical,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{title}</title>
<meta name="description" content={description} />
{canonical && <link rel="canonical" href={canonical} />}

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content={title} />
<meta itemprop="description" content={description} />
<meta itemprop="image" content={featureImage || image} />

<!-- Facebook Meta Tags -->
{canonical && <meta property="og:url" content={canonical} />}
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={featureImage || image} />

<!-- Twitter Meta Tags -->
{canonical && <meta name="twitter:url" content={canonical} />}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:creator" content="@ibrahimcesar" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={featureImage || image} />
<meta name="twitter:image:alt" content="" />

<!-- Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<link href="/code.css" rel="stylesheet" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V2LWX9607C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V2LWX9607C');
</script>
