---
import { SITE } from "~/config.mjs";
import { getPosts } from "~/utils/getPostsCollection";
import { findImage } from "~/utils/findImage";
import { render } from 'astro:content';

import Layout from "~/layouts/PageLayout.astro";
import BlogPost from "~/components/widgets/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const title = `${post.data.title} — ${SITE.name}`;
const lang = post.data.language ? "en" : null;
const description = post.data.description;
const canonical = new URL(`blog/${post.slug}`, Astro.site);
const featureImage = post.data.socialImage ? new URL(`${post.data.socialImage}`, Astro.site) : null;

const image = await findImage(post.data.image);
---

<Layout
  meta={{
    title,
    description,
    canonical,
    image,
    lang,
    featureImage
  }}
>
  <main>
    <BlogPost post={post} image={image}>
      <Content />
    </BlogPost>
  </main>
</Layout>
