---
import Picture from "~/components/core/Picture.astro";
import { findImage } from "~/utils/findImage";


const { post } = Astro.props;

const image = await findImage(post.image);
const isEnglish = post.language ? "en" : null;
const classLanguage = isEnglish ? "en" : "br";
---

 <div class="mb-6 transition">

   <a
      href={`/blog/${post.slug}`}
      title={post.title}>
    <Picture
            src={image}
            class="object-cover w-full h-64 mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
            widths={[400, 768]}
            sizes="(max-width: 767px) 400px, 768px"
            alt={post.description}
    />
  </a>
  <span class={`font-mono text-xs font-semibold uppercase ${classLanguage}`}>📝 {isEnglish ? "en" : "pt-br"}</span>
  <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl">
    <a
      href={`/blog/${post.slug}`}
      class="hover:text-blue-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
    >
      {post.title}
    </a>
    </h3>

    <p class="text-gray-700 dark:text-gray-400">
      {post.description}
    </p>
</div>